%h1= t('app.tour.index')

%table.table.table-hover.table-striped.center
  %caption
    .pull-right
      = link_to t('app.tour.new-button'), new_tour_path, class: 'btn btn-primary'
  %thead
    %tr
      %th= Tour.human_attribute_name(:start_date)
      %th= Tour.human_attribute_name(:days_in_tour)
      %th= Tour.human_attribute_name(:route)
      %th= Tour.human_attribute_name(:add_price)
      %th= Tour.human_attribute_name(:add_descr)
      %th
      %th
      %th

  %tbody
    - @tours.each do |tour|
      %tr
        %td= tour.start_date
        %td= tour.days_in_tour
        %td= tour.route.name
        %td= tour.add_price
        %td= tour.add_descr
        %td
          = link_to tour, class: 'btn btn-success' do
            = fa_icon :eye
        %td
          = link_to edit_tour_path(tour), class: 'btn btn-info' do
            = fa_icon :edit
        %td
          = link_to tour, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
            = fa_icon :times
