- if is_admin?
  =breadcrumb_tag do
    %li.active
      База данных
    %li
      = link_to 'Туры', tours_path
    
.page-header
  %h1= t('headers.tours.index')

%table.table.table-hover.table-striped
  - if is_admin?
    %caption
      = link_to new_tour_path, class: 'btn btn-success' do
        = fa_icon :plus
        = t('buttons.new.tour')
  %thead
    %tr
      %th= Tour.human_attribute_name(:start_date)
      %th= Tour.human_attribute_name(:days_in_tour)
      %th= Tour.human_attribute_name(:route)
      %th Общая цена
      %th= Tour.human_attribute_name(:add_descr)
      %th

  %tbody
    - @tours.each do |tour|
      %tr
        %td.center= lnil(tour.start_date)
        %td.center= tour.days_in_tour
        %td.center= tour.route.name
        %td.center= tour.add_price + tour.route.base_price
        %td.center= tour.add_descr
        %td.right
          = link_to tour, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          - if is_admin?
            = link_to edit_tour_path(tour), class: 'btn btn-info' do
              = fa_icon :edit
              = t('buttons.edit')
          - if is_admin?
            = link_to tour, :method => :delete, 
            :data => { :confirm => t('buttons.confirm.tour') }, 
            class: 'btn btn-danger' do
              = fa_icon :times
              = t('buttons.destroy')
