- if is_admin?
  =breadcrumb_tag do
    %li.active
      Администрирование
    %li
      = link_to t('activerecord.models.routes')
    %li
      = t('headers.routes.edit')

  .page-header
    %h1= t('headers.routes.edit')

  = render 'form'
- else
  %h1= t('helpers.denied')
