- if is_admin?
  =breadcrumb_tag do
    %li.active
      Администрирование
    %li
      = link_to t('activerecord.models.routes')

  .page-header
    %h1= t('headers.routes.index')

  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= Route.human_attribute_name(:name)
        %th= Route.human_attribute_name(:base_price)
        %th= Route.human_attribute_name(:city)
        %th= Route.human_attribute_name(:descr)
        %th

    %tbody
      - @routes.each do |route|
        %tr
          %td.center{data: {label: Route.human_attribute_name(:name)}}
            = route.name
          %td.center{data: {label: Route.human_attribute_name(:base_price)}}
            = route.base_price
          %td.center{data: {label: Route.human_attribute_name(:city)}}
            = route.city.name
          %td.center{data: {label: Route.human_attribute_name(:descr)}}
            = route.descr
          %td.right
            = link_to edit_route_path(route), class: 'btn btn-info' do
              = fa_icon :edit
              = t('buttons.edit')
            = link_to route, :method => :delete, 
            :data => { :confirm => t('buttons.confirm.route') }, 
            class: 'btn btn-danger' do
              = fa_icon :times
              = t('buttons.destroy')
- else
  %h1= t('helpers.denied')
