- if is_admin?
  =breadcrumb_tag do
    %li.active
      Администрирование
    %li
      = link_to t('activerecord.models.cities'), cities_path

  .page-header
    %h1= t('headers.cities.index')

  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= City.human_attribute_name(:name)
        %th

    %tbody
      - @cities.each do |city|
        %tr
          %td.center{data: {label: City.human_attribute_name(:name)}}
            = city.name
          %td.right
            = link_to edit_city_path(city), class: 'btn btn-info' do
              = fa_icon :edit
              = t('buttons.edit')
            = link_to city, :method => :delete, 
            :data => { :confirm => t('buttons.confirm.city') }, 
            class: 'btn btn-danger' do
              = fa_icon :times
              = t('buttons.destroy')
- else
  %h1= t('helpers.denied')
