= form_for @excursion do |f|
  = error_messages_for @excursion
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
  .row
    .col-md-6
      .form-group
        = f.label :price
        = f.text_field :price, class: 'form-control'
        = f.error_messages_for(:price)
  .panel.panel-wave
    .panel-heading
      Город
    .panel-body
      = f.collection_select :city_id, City.all, :id, :name, {include_blank: true}, {id: 'city_select'}
      = f.error_messages_for(:city_id)
      = f.fields_for :city, f.object.city || f.object.build_city do |fr|
        %fieldset#city-fieldset{"data-content" => "#{render "city_fields", fr: fr}"}
          %div#city-fields
            Выбран существующий город
  .row
    .col-md-6
      .form-group
        = f.label :descr
        = f.text_area :descr, class: 'form-control'
        = f.error_messages_for(:descr)
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
