= form_for @excursion do |f|
  = error_messages_for @excursion
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
  .row
    .col-md-6
      .form-group
        = f.label :price
        = f.number_field :price, class: 'form-control'
        = f.error_messages_for(:price)
  .panel.panel-wave
    .panel-heading
      Город
    .panel-body
      .row
        .col-md-6
          .form-group
            = f.label City.human_attribute_name(:name)
            = f.select(:city_id, City.all.map{|x| [x.name, x.id]}, {}, class: 'form-control')
            = f.error_messages_for(:city_id)
  .row
    .col-md-6
      .form-group
        = f.label :descr
        = f.text_area :descr, class: 'form-control'
        = f.error_messages_for(:descr)
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
